<mat-sidenav-container class="container">
  <mat-sidenav #sidenav role="navigation">
    <div fxlayout="row" fxLayoutAlign="center center">LOGO</div>
    <div>
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    </div>
    <main>
      <!-- <router-outlet></router-outlet> -->

      <!--  default is fxLayoutAlign="space-around stretch" -->
      <div class="container" fxLayout="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="space-around stretch">
        <section>
          <app-recipes></app-recipes>
        </section>
        <section>
          <app-shopping-list></app-shopping-list>
        </section>
      </div>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
